@charset 'utf-8';

/* RESET */

*{margin:0; padding:0;}

/* STRUCTURE */

body{font-family:sans-serif; color:rgba(0, 0, 0, 0.3);}

#controls{position:absolute; background-color:#fff; right:20px; top:20px; border:4px solid rgba(0, 0, 0, 0.2); border-radius:20px; padding:10px 20px; width:200px;}

#controls div{margin:2px 0;}

/* TEXT */

h1{font-size:22px; margin:10px 0;}

p{font-size:14px; margin:10px 0;}
a{color:rgba(0, 0, 0, 0.4);}

/* FORMS */

label,input{vertical-align:top;}
label{margin-right:10px;}

fieldset{padding:10px 0; border-top:2px solid rgba(0, 0, 0, 0.2); border-width:2px 0 0 0;}

button{padding:4px;}
